@import "tailwindcss";
html {
  box-sizing: border-box;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #171717;
  }
}

@font-face {
  font-family: "Rosmatika";
  src: url("/fonts/Rosmatika.ttf.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Rosmatika.ttf.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Rosmatika.ttf.woff") format("woff");
  /* WOFF for modern browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-style: normal;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SF Pro Display";
}
